*.DS_Store
*.pycy
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
encoding/models/resnet50-19c8e357.pth
results/deeplab_resnet50/events.out.tfevents.1610087949.agpu3
runs/pascal_voc/deeplab/resnet50/default/checkpoint.pth.tar
runs/pascal_voc/deeplab/resnet50/default/model_best.pth.tar
encoding0/models/resnet50-19c8e357.pth
*.pyc
